<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='/static/dashboard/dashboard.css' />
    <!-- <link type="image/png" rel="icon" href="static/dashboard/dashboard.png"> -->
</head>
<body>



<!-- Начало блока по созданию таблицы -->
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            {% for i in items_list %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for item in data_list %}
        <tr>
            <td>{{ loop.index }}</td>
            {% for ite in item %}
                <td>{{ ite }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Конец блока по созданию таблицы -->



</body>